%title-100 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10rem;
    // height: 10rem;
    text-transform: uppercase;
    text-align: left;
    // color: white;
    mix-blend-mode:difference;
    color:white;

    @include media('<=phone') {
        font-size: 8rem;
     }
}

%title-60 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    margin: 4rem auto;
    text-transform: uppercase;
    @include media('<=tablet') {
        font-size: 4.8rem;
        left:0;
     }
}

%title-20 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    @include media('<=phone') {
        font-size: 2.5rem;
     }
}