
.ui__left{
    position:fixed;
    top: 12rem;
    // left:4rem;
    padding-left: 4rem;
    width:25%;
    overflow: hidden;
    z-index: 1;
}

.ui__right{
    position:fixed;
    top: 12rem;
    right:4rem;
    width:25%;
    overflow: hidden;
   padding-left: 4rem;
   z-index: 1;
}

.ui__element{
    // height: 5rem;
     width: 100%;
}
.ui__vizBox__title{
    @extend %title-1;
    padding-top:1rem;
 }
 .ui__title{
    @extend %title-1;
    padding-top:1rem;
    border-top: 1px;
    border-style: solid;
    border-color: #C0D72D;
    margin: 1rem 0rem 0rem 0rem;
 }
 .ui__legend {
    display:flex;
 }

