$color-ugc-green: #C0D72D;


$font-gotham-bold: 'Gotham Bold';
$font-gotham-bold-italic: 'Gotham Bold Italic';
$font-gotham-book: 'Gotham Book';
$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$z-indexes: (
    'preloader',
    'navigation',
    'content'
);